table {
    width:70%;
    margin-left:15%;
    margin-right:15%;
  }

form {
  width:70%;
  margin-left:15%;
  margin-right:15%;

}
/*td, th {
  width: 150px;
}*/

h1 {
  width: 90%;
  margin-left:5%;
  margin-right:5%;
}
h2 {
  width:80%;
  margin-left:10%;
  margin-right:10%;
}
